.logoHeader{
text-align:center;
padding:20px;
background:#f4f7f8;
border-bottom:2px solid #e4e8ea;
}

.logoHeader img{
max-width:140px;
width:100%;
}

/* خلفية الموقع الرئيسية */

body{
margin:0;
font-family:Arial;
background:#f4f7f8;
color:#0f2c2e;
}